{% extends 'template.html' %}

{% block mainContent %}
  <div class="container">
    <div class="text-center py-4">
      <h1 class="h5">About Us</h1>
      <p class="text-center"><a href="http://panditprogrammer.com" target="blank">www.panditprogrammer.com</a></p>
    </div>
    <h1 class="h6">Why to join us?</h1>
    <p class="">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates voluptas, ab laborum recusandae animi, quidem deserunt nostrum nesciunt temporibus, velit odit ea. Nobis aperiam debitis magnam ab rem modi itaque perferendis dolor nulla? Ipsam ex sint, eveniet eos ipsa natus vel nisi officia optio maiores cupiditate dignissimos quis veniam, commodi aperiam voluptatem. Quidem modi neque iusto eius at, iure dicta nulla porro illo! Facere, quis voluptate recusandae nobis, cum exercitationem officiis nesciunt cumque excepturi rerum sint incidunt ratione qui eaque velit vitae deleniti quia fugiat, repellat culpa. A, corrupti provident facilis debitis officiis non quisquam voluptatem quia quam, eveniet dolorem praesentium, laborum sit velit accusantium omnis magni maxime molestias. Alias itaque facere cupiditate voluptatibus dignissimos necessitatibus animi quibusdam laudantium laboriosam, a suscipit?
    </p>
    <h1 class="h6">Our Terms &amp; Conditions </h1>
    <p class="">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates voluptas, ab laborum recusandae animi, quidem deserunt nostrum nesciunt temporibus, velit odit ea. Nobis aperiam debitis magnam ab rem modi itaque perferendis dolor nulla? Ipsam ex sint, eveniet eos ipsa natus vel nisi officia optio maiores cupiditate dignissimos quis veniam, commodi aperiam voluptatem. Quidem modi neque iusto eius at, iure dicta nulla porro illo! Facere, quis voluptate recusandae nobis, cum exercitationem officiis nesciunt cumque excepturi rerum sint incidunt ratione qui eaque velit vitae deleniti quia fugiat, repellat culpa. A, corrupti provident facilis debitis officiis non quisquam voluptatem quia quam, eveniet dolorem praesentium, laborum sit velit accusantium omnis magni maxime molestias. Alias itaque facere cupiditate voluptatibus dignissimos necessitatibus animi quibusdam laudantium laboriosam, a suscipit?
    </p>

  </div>
{% endblock %}
