<div class="container-fluid bg-light mt-4 border-top">

<footer class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                    <ul class="list-group my-4">
                        <li class="nav-link py-1"><a href="#">Home</a></li>
                        <li class="nav-link py-1"><a href="#">Blogs</a></li>
                        <li class="nav-link py-1"><a href="#">About</a></li>
                        <li class="nav-link py-1"><a href="#">Contact</a></li>
                    </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                    <ul class="list-group my-4">
                        <li class="nav-link py-1"><a href="#">Home</a></li>
                        <li class="nav-link py-1"><a href="#">Blogs</a></li>
                        <li class="nav-link py-1"><a href="#">About</a></li>
                        <li class="nav-link py-1"><a href="#">Contact</a></li>
                    </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                    <ul class="list-group my-4">
                        <li class="nav-link py-1"><a href="#">Home</a></li>
                        <li class="nav-link py-1"><a href="#">Blogs</a></li>
                        <li class="nav-link py-1"><a href="#">About</a></li>
                        <li class="nav-link py-1"><a href="#">Contact</a></li>
                    </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                    <ul class="list-group my-4">
                        <li class="nav-link py-1"><a href="#">Home</a></li>
                        <li class="nav-link py-1"><a href="#">Blogs</a></li>
                        <li class="nav-link py-1"><a href="#">About</a></li>
                        <li class="nav-link py-1"><a href="#">Contact</a></li>
                    </ul>
            </div>
        </div>
    </footer>
</div>


</body>
</html>
