{% include 'header.html' %}
<div class="container">
  <div class="text-center py-4">
    <h1 class="h3">Write &amp; Publish Amazing Blogs With Us.</h1>
  </div>

  <h1 class="h5">A New way to Learn DJango in 2023</h1>
  <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde maiores placeat sequi nobis nisi iure quia, aliquam, at praesentium ipsam autem aspernatur aperiam eaque minus nihil quasi nulla sit qui recusandae consectetur reiciendis saepe? Doloribus explicabo a tenetur. Quibusdam, repellendus delectus dolorum maiores rem nulla reiciendis provident dolores expedita iusto a doloribus totam amet impedit debitis odio maxime perferendis cumque ipsaxime porro! Delectus laborum autem non natus, tempora eligendi sequi fugit, culpa veritatis provident minus! Ipsum, dolore. Repellat id, dicta suscipit doloribus nostrum expedita. Ad suscipit ipsum dolorem voluptate ducimus eligendi officia commodi tenetur debitis pariatur reiciendis dicta quos iusto, reprehenderit facere.
  </p>

  <div class="card">
    <h1 class="card-heading h5 p-3">Students</h1>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>SN.</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for student in Students %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h1 class="h5 mt-4">Learning contents </h1>
  <p>
    a nostrum explicabo nobis eius possimus. Doloribus, amet! Totam iusto culpa perspiciatis quae eos veritatis aspernatur, non reiciendis voluptates a cum eveniet recusandae vitae, iste consectetur rem. Magni reiciendis dolor deserunt culpa temporibus a et maxime dolores, possimus magnam fuga ut corrupti sit eius aspernatur voluptate cum sapiente assumenda cumque delectus! Animi recusandae non, at, blanditiis officia cum iusto porro dolores modi natus atque rem nam necessitatibus? Iure cumque illo vel voluptas ducimus necessitatibus modi totam tempora id, consequatur quo magni nostrum harum? Cumque architecto dolore suscipit? Rerum pariatur necessitatibus voluptas soluta quos dolores sint, inventore nobis et aspernatur repudiandae, vero magni voluptate odit incidunt, hic ipsum voluptatibus iste? Et fuga voluptatum commodi inventore eum dolorum non saepe exercitationem voluptatibus, m
  </p>
</div>

{% include 'footer.html' %}
