{% extends 'template.html' %}

{% block mainContent %}
  <main class="container">
    <div class="row my-4">
      <div class="col-md-8">
        <div class="row border">
          <div class="col-12 gy-3 mb-3">
            <div class="">
              <h1 class="h4">{{ blog.title }}</h1>
              <p class="text-muted">{{ blog.updated_on }} | {{ blog.category }}</p>
            </div>
            <img src="https://source.unsplash.com/300x100/?website" height="100px" alt="" class="img-fluid card-img" />
            <p class="">{{ blog.description }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-3 border">
        <div class="bg-primary">
          <h1 class="h5 p-2 text-white">Latest Blogs</h1>
        </div>
        <ul class="list-group list-group-flush">
          {% for blog in allBlogs %}
            <a href="/blogs/{{ blog.slug }}" class="list-group-item list-group-item-action">{{ blog.title }}</a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
